  body{
   text-align: center;
    align-items: center;
    height: 100vh;
  }
.container{
     display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2 , 1fr);
    margin: auto;
    height:fit-content;
    width:max-content;
    justify-items: center;
}
.btn{
    border: 5px solid black;
    height: 10rem;
    width:10rem;
    border-radius: 20%;
    margin: 0.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;

    /* transition: opacity 0.2s; */
}
.yellow{
    background-color: rgb(211, 209, 86);
}
.red{
    background-color: hsl(0, 49%, 50%);
}
.green{
    background-color: rgb(87, 190, 87);
}
.purple{
    background-color: rgb(177, 121, 215);
}
.flash{
    background-color: white;
}
